@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
    --primary-color: #e4002b;
    --secondary-color: #ffffff;
    --dark-text-color: #232637;
    --background-color: #f7f7f7;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: var(--background-color);
}

body::after {
    position: fixed;
    content: "";
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: -1;
    animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
    0% {
        width: 0vw;
    }
    100% {
        width: 50vw;
    }
}

.main-container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
}

.navbar {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    font-weight: 500;
}

.nav-links .logo img {
    width: 150px;
}

.nav-left a {
    color: var(--primary-color);
}

.nav-right a {
    color: var(--secondary-color);
}

.nav-links a:hover {
    color: var(--dark-text-color);
}

.header-image {
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
}

.brand-name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    color: var(--secondary-color);
    letter-spacing: 25px;
}

#name1 {
    color: var(--primary-color);
}

.left {
    transform: translate(calc(-50% - 250px), -50%);
}

.right {
    transform: translate(calc(-50% + 250px), -50%);
}

.btn.explore {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 225px));
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.664);
}

.btn.explore:hover {
    background-color: #232637;
    color: white;
    border-radius: 5px;
    transition: 0.7s;
}

.btn.promotions {
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem - 4px) calc(2rem - 4px);
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.btn.promotions:hover {
    background-color: white;
    color: #e4002b;
    border-radius: 5px;
    transition: 0.7s;
}

.btn.news {
    top: 50%;
    left: 0;
    transform: translate(0, -50%) rotate(-90deg);
    padding: calc(1rem - 4px) calc(2rem - 4px);
    color: var(--dark-text-color);
    background-color: transparent;
    border: 1px solid var(--dark-text-color);
}

.btn.news:hover {
    background-color: #232637;
    color: white;
    border-radius: 5px;
    transition: 0.7s;
}

.footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-inline: 1rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer p {
    font-size: 0.9rem;
    color: var(--dark-text-color);
}

@media (max-width: 540px) {
    .brand-name {
        font-size: 3rem;
        letter-spacing: 15px;
    }

    .header-image {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 1024px) {
    .btn {
        padding: 0.5rem 1rem;
    }
}